.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  color: #f5f5f5;
  right: 0;
}

.navbar__container {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.navbar__item {
  margin-left: 12px;
  margin-right: 12px;
}

.navbar__left,
.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__right {
  flex-direction: row-reverse;
}

.navbar__link {
  text-decoration: none;
  color: #f5f5f5;
}
